name: release
on:
  push:
    tags:
    - '*'
jobs:
  test:
    strategy:
      matrix:
        go-version: [ 1.15.x ]
        platform: [ ubuntu-latest ]
    runs-on: ${{ matrix.platform }}
    steps:
    - name: Install Go
      uses: actions/setup-go@v1
      with:
        go-version: ${{ matrix.go-version }}

    - name: Checkout code
      uses: actions/checkout@v2

    - name: Run GoReleaser
      uses: goreleaser/goreleaser-action@v1
      with:
        version: latest
        args: release --rm-dist
        key: ${{ secrets.YOUR_PRIVATE_KEY }}
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v1

    - name: Login to GitHub Container Registry
      uses: docker/login-action@v1
      with:
        registry: ghcr.io
        username: ${{ github.repository_owner }}
        password: ${{ secrets.CR_PAT }}

    - name: Prepare for image tag
      id: prep
      run: |
        VERSION=${GITHUB_REF#refs/tags/}
        echo ::set-output name=version::${VERSION}

    - name: Build and push secretary-lab
      uses: docker/build-push-action@v2
      with:
        context: .
        file: ./docker/secretary-lab/Dockerfile
        push: true
        tags: |
          ghcr.io/${{ github.repository_owner }}/secretary-lab:stable
          ghcr.io/${{ github.repository_owner }}/secretary-lab:${{ steps.prep.outputs.version }}

